
 .gmail-logo{
margin-block-start: 10px;    
}
 .keep-logo{
    scale:0.85  
} 
/* .book-logo{
 scale:0.6;
width: max-content;
} */

.links{
    background-image: url('../../img/cover2.jpg');
    background-size: cover;
    border-radius: 37px;
    width: 100%;
    height: 72vh;
    display: flex;
    flex-wrap: wrap;
    gap:80px;
    justify-content: center;
    align-content: space-around
}

.links a {
    cursor: pointer;
    width: 15vw;
    max-width: 100px;
}

.links a:hover {
    scale: 1.2;
}

.links img{
    width: 100%;
}