.user-msg {
    position: fixed;
    bottom: 40px;
    left: 20px;
    color:  #fff;;
    font-weight: 400;
    width: 290px;
    border-color: #f0c36d;
    background-color: #f9edbe;
    padding: 10px;
    border-radius: 2px;
    /* transition: opacity 1s; */
}
.success {
    background-color: #202124;}
.error {
    background-color: #202124;}