.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    border-radius: 37px;
    padding: 30px;
    background-color: lightgray;
    list-style-type: none;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;

}
.book-list ul li{
    padding: 10px;
    background-color: rgb(181, 204, 240);
    border-radius: 20px;
}

.book-list button {
    background-color: transparent;
    border: none;
}

.book-list button:hover {
    scale: 1.2;
    opacity: 0.5;
}

.book-list a:hover {
    opacity: 0.5;
}

.book-list h2 {
    overflow: hidden;
}

img:hover{
    animation: swing 1000ms 200ms;
}