/* .user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
}
.user-msg.success {
    background-color: lightgreen;
}
.user-msg.error {
    background-color: lightcoral;
}

.user-msg button {
    float: right;
} */