.note-adder {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    width: 60vw;
    max-width: 450px;
    border: 1px solid gray;
    /* height: 5vh; */
    margin-inline-start: 10vw;
}

.note-adder h3 {
    min-width: 50px;
}

.note-adder section{
    display: flex;
    margin: 0;
    padding: 0;
}

.note-adder button {
    border: none;
    background-color: transparent;
}

.note-adder button:hover {
    scale: 1.2;
    opacity: 0.5;
}

.note-adder input {
    max-height: 3vh;
}