.notes-filter {
    height: 200vh;
    width:20vw;
    max-width: 225px;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    /* display: none; */
}

.notes-filter input {
    width: 90%;
}