.note {
    break-inside: avoid;
    text-align: center;
    background-color: var(--clr3);
    padding-inline: 2vw;
    padding-block: 1vh;
    margin-block: 1vh;
    border-radius: 15px;
    min-width: 150px;
    margin-inline: 0;
}

.note .note-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 1vh;
}

.note .note-buttons button {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

.note .note-buttons button:hover {
    opacity: 0.5;
    scale: 1.2;
}

