.new-mail {
  position: absolute;
  bottom: 0;
  right: 5vw;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.new-mail .header {
  display: flex;
  flex-direction: column;
}

.new-mail input {
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.new-mail .body textarea {
  border: none;
  height: 200px;
  margin-top: 10px;
  outline: none;
  resize: none;
  width: 100%;
}

.new-mail .footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.new-mail .footer button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #0055df;
  border: none;
  border-radius: 55px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.msg {
  height: 50px;
  padding-left: 12px;
  padding-top: 12px;
  background-color: #f2f6fc;
}