.email-details {
height: 90vh;
}

.btn-delete.details {
    display: inline;
    margin-inline-start: 10px;
}

.link-back  {
    margin-block-start: 10px;
    margin-block-end: 10px;
    background-color: transparent;
    border-style: none;
    color: black;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    border-radius: 50%;
    transition: 0.2s;
}

.link-back:hover {
    background-color: #dfe4ec;
    border: 1px solid rgb(207, 206, 206)
}


.email-body-details,.to-me-details ,.email-nameSender-details,.email-subject-details{

margin-inline-start: 50px;
}
.email-subject-details{
    font-size: 24px;
    margin-block-end:50px ;
}
.email-nameSender-details{
    font-size: 20px;
    margin-block-end:40px ;


}
.email-adress{
    font-weight: lighter;
    font-size: 16px;

}

.email-body-details{
    margin-block-start:60px ;
    margin-block-end:100px ;
}
         