.email-details {
    /* margin-inline-start: 40px; */
}

.btn-delete.details {
    display: inline;
    margin-inline-start: 10px;
}

.link-back {
    margin-block-start: 10px;
    margin-block-end: 10px;
    background-color: transparent;
    border-style: none;
    color: black;
    font-size: 18px;
    padding: 8px 8px 8px 8px;
    border-radius: 50%;
    transition: 0.2s;
}

.link-back:hover {
    background-color: #dfe4ec;
    border: 1px solid rgb(207, 206, 206)
}


/* .btn-sent,.btn-inbox,.btn-draft,.btn-trash,.btn-starred {
    background-color: transparent;
    border-style: none;
    color: black;
    font-size: 25px;
    cursor: pointer;
    padding: 11px 11px 11px 11px; 
    border-radius: 50%;
    transition:  0.2s;
  }
  .btn-sent{
    padding: 12px 15px 12px 12px; 
    font-size: 24px;
  }

  .btn-draft{
    font-size: 22px;


  }
  
 .btn-sent:hover,.btn-inbox:hover,.btn-draft:hover,.btn-trash:hover,.btn-starred:hover {
    background-color: #dfe4ec;
    border: 1px solid rgb(207, 206, 206);
  } */