.email-from {
   width: 190px;
   margin-inline-start: 20px;
}



.content {
    flex-grow: 1;
    width: 0;
}

.email-subject {
    /* width:100px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.email-body {
    padding-left: 10px;
    color: #5f6368;
    font-family: Roboto-Regular;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date{

    margin-inline-end: 25px;
}
.btn-delete ,.btn-toggle-read,.btn-star-prev,.btn-star-clicked,.btn-star-clicked,.btn-star-prev {
    display: none;
   background-color: transparent;
    border-style: none;
    color: black;
     font-size: 18px;
    cursor: pointer;
     padding: 6px 9px 6px 6px; 
     border-radius: 50%; 
    transition: all 0.2s;
margin-inline-start: 10px;
;}

.btn-star-prev{
    margin-inline-start: 10px;
    display: block;


}

.btn-star-clicked{
    margin-inline-start: 10px;
    display: block;
    color: rgb(245, 215, 80);

}


.drat{
color:red
}

.undraft{
    color: black;
}

.btn-toggle-read{
    margin-inline-end: 10px
}

li:hover .btn-delete ,li:hover .btn-toggle-read {
    display: block;
} 

 .btn-delete:hover ,.btn-toggle-read:hover ,.btn-star-prev:hover,
 .btn-star-clicked:hover ,.btn-star-clicked:hover {
    background-color: #dfe4ec;
    border: 1px solid rgb(207, 206, 206);
}



.btn-delete[Trash]::after {
    content: "";
    display: none;
  }
  
  .btn-delete:hover::before  {
    content: 'Trash';
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    right:190px;

  }


  .btn-star-prev[Starred]::after {
    content: "";
    display: none;
  }
  
  .btn-star-prev:hover::before  {
    content: 'Starred';
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    left:180px;

  }

  .btn-star-clicked[Unstarred]::after {
    content: "";
    display: none;
  }
  
  .btn-star-clicked:hover::before  {
    content: 'Unstarred';
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    left:180px;

  }

  /* fa-solid fa-envelope' :'fa-solid fa-envelope-open */

  /* .fa-solid-fa-envelope [Trash]::after {
    content: "asdasd";
    display: none;
  }
  
  .fa-solid-fa-envelope:hover::before  {
    content: 'asdasdasd';
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    left:180px;

  } */