.read {
    background-color: #f2f6fc;
    font-weight: lighter;
    font-family: Roboto-Regular;
}


/* .email-list {
    max-width: 800px;
    margin: 0 auto;
  } */

.unread {
    background-color: #ffffff;
    font-weight: bolder;
    font-family: Roboto-Bold;
    font-weight: 700;
}

li:hover {
    cursor: pointer;
    /* padding-bottom: 10px;
    padding-top: 10px; */
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

li {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    padding: 10px;
    list-style-type: none;
}