* {
  box-sizing: border-box;
}

html {}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Roboto-Regular;
}

a {
  text-decoration: none;
  color: unset;
}

img, embed, video, object {
  max-width: 100%
}